.btn {
  background-color: #d87d4a;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border: none;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}
