.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1px solid #979797;
  padding: 1rem 0;

  .logo {
    display: block;
    text-transform: lowercase;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: "Teko", sans-serif;
    cursor: pointer;
  }

  .cart {
    display: block;
    cursor: pointer;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    list-style-type: none;

    li {
      cursor: pointer;
    }

    li:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  .link {
    color: #ffffff;
    text-decoration: none;
  }
}
