.section-main-one {
  display: flex;
  background-color: #d87d4a;
  justify-content: space-around;
  padding: 4.5rem 0 0;
  margin-bottom: 2rem;
  border-radius: 5px;

  .section-main-one-img-container {
    width: 350px;

    .section-main-one-img {
      width: 100%;
      display: block;
    }
  }

  .product-details {
    width: 36%;
    p {
      margin: 0;
      color: #ffffff;
    }

    .title {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .details {
      margin-top: 2rem;
      margin-bottom: 2rem;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }
}

.section-main-two {
  height: 35vh;
  background-image: url("../../../assets/home/desktop/image-speaker-zx7.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
  padding: 5rem 8rem;
  border-radius: 5px;

  p {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.3rem;
  }
}

.section-main-three {
  display: flex;
  margin-bottom: 10rem;

  .earphones-in-a-case {
    width: 50%;
    margin-right: 1rem;

    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  .earphones-in-a-case-details {
    width: 50%;
    margin-left: 1px;
    background-color: #fafafa;
    padding: 6rem;
    border-radius: 5px;

    p {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.3rem;
    }
  }
}
