.footer {
  background-color: #101010;
  padding: 2rem 0;
  margin-top: 10rem;

  .footer-navigation {
    border-bottom: 0;
  }

  .about-and-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 2.5rem 0;

    .about-and-social-icons-container {
      width: 40%;

      p {
        margin: 0;
      }
      .about {
        color: #b8b2b2;
        line-height: 20px;
        font-size: 0.8rem;
      }
    }

    .social-icons {
      img:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .copyright {
    color: #b8b2b2;
    font-size: 0.8rem;
  }
}
