.images-container {
  display: flex;
  margin-top: 7rem;

  img {
    border-radius: 5px;
    width: 100%;
    display: block;
  }

  .two-images-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .image-three {
    margin-left: 4rem;
  }
}
